@{
	ViewData["Title"] = "Login Page";
}

<div class="text-center">
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<ul class="nav nav-tabs card-header-tabs">
							<li class="nav-item">
								<a class="nav-link active" id="login-tab" data-bs-toggle="tab" href="#login-form">Login</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="signup-tab" data-bs-toggle="tab" href="#signup-form">Sign Up</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="forgot-tab" data-bs-toggle="tab" href="#forgot-form">Forgot Pwd</a>
							</li>
						</ul>
					</div>
					<div class="card-body">
						<div class="tab-content">
							<!-- Login Form -->
							<div class="tab-pane fade show active" id="login-form">
								<form asp-controller="Login" asp-action="Login">
									<div class="form-floating mb-3">
										<input type="text" class="form-control" id="loginUsername" name="loginUsername" value="geiner.picado@hotmail.com" required>
										<label for="loginUsername">Username</label>
									</div>
									<div class="form-floating mb-3">
										<input type="password" class="form-control" id="loginPassword" name="loginPassword" value="Admin$1234" required>
										<label for="loginPassword">Password</label>
									</div>
									<button type="submit" class="btn btn-primary">Login</button>
								</form>
							</div>

							<!-- Sign Up Form -->
							<div class="tab-pane fade" id="signup-form">
								<form asp-controller="Login" asp-action="SignUp">
									<div class="form-floating mb-3">
										<input type="text" class="form-control" id="signupUsername" name="signupUsername" required>
										<label for="signupUsername">Username</label>
									</div>
									<div class="form-floating mb-3">
										<input type="password" class="form-control" id="signupPassword" name="signupPassword" required>
										<label for="signupPassword">Password</label>
									</div>
									<div class="form-floating mb-3">
										<input type="text" class="form-control" id="signupDisplayName" name="signupDisplayName" required>
										<label for="signupDisplayName">Display Name</label>
									</div>
									<button type="submit" class="btn btn-success">Sign Up</button>
								</form>
							</div>

							<!-- Forgot Form -->
							<div class="tab-pane fade" id="forgot-form">
								<form asp-controller="Login" asp-action="ForgotPwd">
									<div class="form-floating mb-3">
										<input type="text" class="form-control" id="signupUsername" name="signupUsername" required>
										<label for="signupUsername">Username</label>
									</div>
									<button type="submit" class="btn btn-success">Submit reset</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Include Bootstrap and JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</div>
